<html  ng-app="mainApp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="name.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="main.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <!-- <script type = "text/javascript">
       let getsessionStorageData = sessionStorage.getItem("EmpList");
       if (getsessionStorageData == null) {
        $scope.EmpList = [];
        }else {
            $scope.EmpList = JSON.parse(getsessionStorageData);
            $scope.Listlength = $scope.EmpList.length
        }
    </script> -->
<body ng-controller="CRUDController">
<header>
    <h1>Create User!</h1>
    <div  class="form-example-save" >
        <input class="save" type="submit" ng-click="Save_Data()" value="save" onclick="history.back()">    </div>
    <div class="form-example-back">
        <i class="fa fa-arrow-left" style="font-size:36px" onclick="history.back()"></i>
        <!-- <input type="button" value="Go back!" onclick="history.back()"> -->
    </div>
</header>

<form action="" method="get" class="form-example">

    <div class="form-example">
        <label for="name">Name: </label>
        <input ng-model="Name"  class="name" type="name" name="name" id="name" value ="name" required>
        <!-- <span id="Name1"></span> -->
    </div>
    <div class="form-example">
        <label for="email">Email: </label>
        <input ng-model="Email"  class="name" type="email" name="Email" id="email" required>
    </div>
    <div class="form-example">
        <label for="phone">Phone:</label>
        <input ng-model="Phone"  class="name"  name="phone" id="Phone" required>
    </div> 
</form>

</body>
</html>